@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 300;
    color: #7f7f7f;
}

/* Headings & logo */

h1, h2 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #708090;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #7f7f7f;
}

.active {
    border-bottom: 1px solid #7f7f7f;
}

/* hero image & cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../Images/hero-image.webp') no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(127, 127, 127, .5);

    position: absolute;
    top: 470px;
    left: 30px;
}

/* retreat content */

#content {
    height: 600px;
}

#content h2 {
    border-bottom: 1px solid #7f7f7f;
    width: 25%;
    margin-left: 30px;
}

#content p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
}

#top {
    padding-top: 15px;
}

#middle {
    padding-top: 15px;
}

#bottom {
    padding-top: 15px;
}

/* yoga page */

/* hero image */

#yoga-hero-image {
    height: 600px;
    width: 100%;
    background: url('../Images/yoga-hero-image.webp') no-repeat center center;
    background-size: cover;
}

#yoga-cover-text, #yoga-cover-text h2 {
    color: #fff;
}

#yoga-cover-text {
    font-size: 130%;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 150px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(127, 127, 127, .5);

    position: absolute;
    top: 470px;
    right: 30px;
}

/* yoga content */

#yoga-content {
    height: 1650px;
}

.yoga-left {
    padding-top: 15px;
    padding-bottom: 13%;
}

.yoga-left h2 {
    border-bottom: 1px solid #7f7f7f;
    width: 25%;
    margin-left: 30px;
}

.yoga-left p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    text-align: center;
}

.yoga-img-right {
    height: 300px;
    width: 33%;

    float: right;
    margin-right: 30px;
    margin-left: 30px;

    border: 1px solid #7f7f7f;
}

.yoga-right {
    padding-top: 15px;
    padding-bottom: 13%;
}

.yoga-right h2 {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #7f7f7f;
    width: 25%;
    margin-right: 30px;
    float: right;
}

.yoga-right p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
    text-align: center;
    padding-top: 30px;
}

.yoga-img-left {
    height: 300px;
    width: 33%;

    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;

    border: 1px solid #7f7f7f;
}

/* sign up page */

/* sign up hero image */
#signup-hero-image {
    height: 600px;
    width: 100%;
    background: url('../Images/signup-hero-image.webp') no-repeat center center;
    background-size: cover;
}

/* sign up content */
#signup-content {
    height: 150px;
}

#signup-content h2 {
    border-bottom: 1px solid #7f7f7f;
    width: 30%;
    margin-left: 30px;
}

#signup-content p {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 40px;
}

/* sign up form */

#signup-form {
    height: 900px;
}

fieldset {
    border: 1px solid #7f7f7f;
    border-radius: 10px;

    width: 800px;
    padding: 30px;
    margin: 30px;
}

fieldset p {
    font-size: large;
    font-weight: 500;
}

legend {
    font-size: x-large;
    font-weight: 900;
}

label {
    font-size: large;
    font-weight: 500;

}

.signup-text {
    width: 200px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 10px;
    margin-left: 6px;
    margin-bottom: 15px;

}


input {
    color: #7f7f7f;
}

::placeholder {
    padding-left: 10px;
    color: lightgray;
}


/* footer and social media */
footer {
    height: 150px
}

.social-icons {
    text-align: center;
}

.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: #708090;
}