@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 300;
    color: #504a4b;
    background-color: aliceblue;
}

/* Headings & logo */

header {
    display: flex;
    flex-direction: column;
}

header a {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Bellefair', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #708090;
}

#logo {
    font-size: 5vw;
    border-bottom: none;
    width: 100%;
    text-align: center;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-evenly;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 1vw;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #7f7f7f;
}

.active {
    border-bottom: 1px solid #7f7f7f;
}

/* hero image & cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    background-size: cover;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 1vh;
    padding-left: 0.5vw;
    background-color: rgba(127, 127, 127, .5);
    position: absolute;
    top: 57vh;
    left: 0;
    right: 0;
    margin: 0 4vw;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* retreat content */

#content {
    margin: 1em;
}

#content h2 {
    border-bottom: 1px solid #7f7f7f;
    text-align: center;
    margin-top: 2em;
}

#content p {
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 40px;
}

#top {
    padding-top: 15px;
}

#middle {
    padding-top: 15px;
}

#bottom {
    padding-top: 15px;
}

/* yoga page */

/* hero image */

#yoga-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-hero-image.webp') no-repeat center center;
    background-size: cover;
}

#yoga-cover-text, #yoga-cover-text h2 {
    color: #fff;
}

#yoga-cover-text {
    font-size: 130%;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(127, 127, 127, .5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8em;
    right: 1em;
}

/* yoga content */
.yoga-left {
    padding-top: 15px;
    padding-bottom: 13%;
}

.yoga-left h2,
.yoga-right h2 {
    border-bottom: 1px solid #7f7f7f;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.yoga-left p {
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 40px;
    text-align: center;
}

.yoga-img-right,
.yoga-img-left {
    height: 300px;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #7f7f7f;
    border-bottom: #7f7f7f;
    object-fit: cover;
}

.yoga-right {
    padding-top: 15px;
    padding-bottom: 13%;
}

.yoga-right p {
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 40px;
    text-align: center;
    padding-top: 30px;
}

/* sign up page */

/* sign up hero image */
#signup-hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/signup-hero-image.webp') no-repeat center center;
    background-size: cover;
}

#sign-up-cover-text {
    font-size: 130%;
    font-family: 'Tenor Sans', sans-serif;
    color: #fbfbfb;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(127, 127, 127, .5);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8em;
    right: 1em;
}

#sign-up-cover-text > h2 {
    color: #fbfbfb;
}

/* sign up content */
#signup-content h2 {
    border-bottom: 1px solid #7f7f7f;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

#signup-content p {
    margin-left: 1vw;
    margin-right: 1vw;
    line-height: 40px;
    text-align: center;
}

/* sign up form */
fieldset {
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 1em;
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
}

fieldset p {
    font-size: large;
    font-weight: 500;
    margin-left: 1vw;
    margin-right: 1vw;
}

legend {
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

label {
    font-size: large;
    font-weight: 500;

}

.signup-text {
    width: 200px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
    border-radius: 10px;
    margin-left: 6px;
    margin-bottom: 15px;

}

input {
    color: #7f7f7f;
}

::placeholder {
    padding-left: 10px;
    color: slategray;
}


/* footer and social media */
.social-icons {
    text-align: center;
}

.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: #708090;
}

/* media queries */

/* small tablet */

@media (min-width: 500px) {
    #cover-text {
        margin: 0 15vw;
    }
}

/* tablet */

@media (min-width: 750px) {
    #logo {
        font-size: 3vw;
    }
    
    .yoga-img-right,
    .yoga-img-left {
        width: 33%;
        border: 1px solid #7f7f7f;
    }

    .yoga-img-right {
        float: left;
    }

    .yoga-img-left {
        float: right;
    }

    .yoga-left p,
    .yoga-right p {
        display: flex;
    }

    #yoga-cover-text {
        top: 24em;
    }
}

/* desktop */

@media (min-width: 950px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    #menu li {
        margin: 0 1em;
    }

    #cover-text {
        top: 51vh;
        margin: 0 25vw;
    }
}
